body {
  background-color: #549c66;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(3, 54, 17);
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(5, 87, 27);
}

ul {
  list-style-position: inside;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(5, 87, 27);
}

p {
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(5, 87, 27);
}